


@*div for Upload Utility*@
<div id="dialog" style="display: none;width:100%" align="center">
    @Html.Partial("_LFSCaptureUserResponses", (RELY_APP.ViewModel.CaptureUserResponseViewModel)ViewBag.CaptureUserResponse)
</div>


