@model RELY_APP.ViewModel.LRequestViewModel



<div class="boxes">
    <a class="top_links" href="/LRequests/Create"> <i class="glyphicon glyphicon-pencil"></i> Create Request</a>
    <br />
    <div id="jqxgrid">
    </div>
</div>
@Scripts.Render("~/bundles/jqxgridbundle")

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            data: { path: window.location.pathname },
            cache: false,
            url: "Home/SaveReturnPath",
            dataType: "json",
            type: "post",
            success: function (data) { },
            error: function (respose) {
                //  alert("error : " + reponse);
            }
        });

        if ('@TempData["Error"]') {
            alert('@TempData["Error"]')
        }

        var source = {
            dataType: "json",
            cache: false,
            dataFields: [
                { name: 'RequestCode', type: 'string' },
                { name: 'SystemId', type: 'string' },
                { name: 'SystemName', type: 'string' },
                { name: 'AuthorizationNumber', type: 'string' },
                { name: 'Name', type: 'string' },
                { name: 'Description', type: 'string' },
                { name: 'Notes', type: 'string' },


            ],

            id: "Id",
            url: "/LRequests/GetByCompanyCode"
        };
        // This function is used for displaying row details
        var initrowdetails = function (index, parentElement, gridElement, datarecord) {
            //var tabsdiv = null;
            //var information = null;
            //var Attributes = null;
            //var Description = null;
            // debugger;
            //tabsdiv = $($(parentElement).children()[0]);
            //if (tabsdiv != null) {
            //    information = tabsdiv.find('.information');
            //    Attributes = tabsdiv.find('.Attributes');
            //    Description = tabsdiv.find('.Description');

            //  var title = tabsdiv.find('.title');
            //  title.text(datarecord.firstname);

            //var container = $('<div style="margin: 5px;"></div>')
            //container.appendTo($(information));

            //var leftcolumn = $('<div style="float: left; width: 45%;"></div>');
            //var rightcolumn = $('<div style="float: left; width: 40%;"></div>');
            //container.append(leftcolumn);
            //container.append(rightcolumn);
            var RequestCode = "<div style='margin: 10px;'><b>Class:</b> " + datarecord.RequestCode + "</div>";
            var SystemId = "<div style='margin: 10px;'><b>Description:</b> " + datarecord.SystemId+ "</div>";
            var AuthorizationNumber = "<div style='margin: 10px;'><b>Dimension:</b> " + datarecord.AuthorizationNumber + "</div>";
            var Name = "<div style='margin: 10px;'><b>CopaValue:</b> " + datarecord.Name + "</div>";
            var Description = "<div style='margin: 10px;'><b>CopaValue:</b> " + datarecord.Description + "</div>";
            //var RequestId = "<div style='margin: 10px;'><b>CopaValue:</b> " + datarecord.RequestId + "</div>";

            $().append(RequestCode);
            $().append(SystemId);
            $().append(AuthorizationNumber);
            $().append(Name);
            $().append(Description);


            //var Description = "<div style='margin: 10px;'><b>Description</b> " + datarecord.Description + "</div>";
            //$(Descriptionrightcolumn).append(Description);

            //$(tabsdiv).jqxTabs({ width: 750, height: 170 });
        }
   // }
        var cellsrenderer = function (row, columnfield, value, defaulthtml, columnproperties) {

            return '&emsp;<button onclick="return FnEdit()" class="GridButton">Edit</button>';
        };
               var dataAdapter = new $.jqx.dataAdapter(source)

                $('#jqxgrid').jqxGrid({

                    source: dataAdapter,
                    width: '100%',
                    autoheight: true,
                    rowdetails: true,
                    //rowdetailstemplate: { rowdetails: "<div style='margin: 10px;'><ul style='margin-left: 30px;'><li class='title'>WF</li><li>Attributes</li><li>Description</li></ul><div class='information'></div><div class='Attributes'></div><div class='Description'></div>", rowdetailsheight: 300 },
                    //ready: function () {
                    //    $("#jqxgrid").jqxGrid('showrowdetails', 0);
                    //    $("#jqxgrid").jqxGrid('showrowdetails', 1);
                    //},
                    initrowdetails: initrowdetails,
                    theme: 'bootstrap',
                    sortable: true,
                    columnsresize: true,
                    columnsreorder: true,
                    altrows: true,
                    pageable: true,
                    filterable: true,
                    autoshowcolumnsmenubutton: false,//down arrow always visible for filter and sorting
                    showstatusbar: false,
                    ready: function () {

                    },

                    columns: [
                        //{ text: 'Id#', datafield: 'Id' },
                        { text: 'RequestCode', datafield: 'RequestCode' },
                        { text: 'System', datafield: 'SystemName' },
                        { text: 'AuthorizationNumber', datafield: 'AuthorizationNumber' },
                        { text: 'Name', datafield: 'Name' },
                        { text: 'Notes', datafield: 'Notes' },
                        { text: 'Description', datafield: 'Description' },
                        { text: 'Actions', datafield: 'Id', cellsrenderer: cellsrenderer }


                       // { text: 'Updated DateTime', datafield: 'UpdatedDateTime', cellsformat: 'dd/MM/yyyy' },

                    ]
                });
            });
        function FnEdit() {
            var selectedrowindex = $('#jqxgrid').jqxGrid('selectedrowindex');
            var xx = $('#jqxgrid').jqxGrid("getrowid", selectedrowindex);
            if (xx) {
                var url = '@Url.Action("Edit", "LRequests", new {Id = "__id__" })';
                window.location.href = url.replace("__id__", xx);
            }

           // alert("Functionality not yet implemented.");
            return;
        }

</script>
