
@{
    ViewBag.Title = "ReleaseNotes";
}
<script type="text/javascript">
    function download(file) {
        window.location = '/GKeyValues/DownloadReleaseNotes?ReleaseNotesName='+file;
    }
</script>
<h2>ReleaseNotes</h2>
@Html.Raw((string)ViewBag.ReleaseNotesHTML)

