@charset "utf-8";
/* CSS Document */
/*Fonts*/

@font-face {
    font-family: vodafone;
    src: url(../fonts/ufonts.com_interface-dama-bold.ttf);
    src: url(../fonts/ufonts.com_interface_dama_bold.eot);
    src: url(../fonts/ufonts.com_interface-dama-bold.woff);
}
body {
    background: url(../images/background.jpg);
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    position: relative;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.theme {
    text-align: center;
}
.theme_btn {
    background: #e60000;
    color: #FFF;
    border-radius: 0px;
    font-size: 8px;
    padding: 5px;
    position: absolute;
    right: 0px;
    top: 50px;
}
.theme_btn:hover,
.theme_btn:focus {
    outline: 0px;
    color: #FFF;
}
.theme button {
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
    background-image: none;
    background: #000;
    color: #FFF;
}
.theme button img {
    width: 200px;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(217, 217, 217, 1);
    -moz-box-shadow: 0px 0px 25px 0px rgba(217, 217, 217, 1);
    box-shadow: 0px 0px 25px 0px rgba(217, 217, 217, 1);
}
.bottom_line {
    display: none;
}
.tabs .active > .bottom_line {
    background: #FFF;
    height: 2px;
    display: block;
    margin-top: 5px;
}
.theme_btn:hover,
.theme_btn:focus {
    outline: 0px;
    color: #FFF;
}
/* Custom classes */

.vodafone_redbg {
    background-color: #e60000 !important;
}
.vodafone_txt {
    color: #e60000 !important;
}
.white_txt {
    color: #ffffff !important;
}
/**/

::-webkit-input-placeholder {
    font-size: 12px;
}
:-moz-placeholder {
    /* Firefox 18- */
    
    font-size: 12px;
}
::-moz-placeholder {
    /* Firefox 19+ */
    
    font-size: 12px;
}
:-ms-input-placeholder {
    font-size: 12px;
}
.no_margin_big {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
/**sub menu*/

.marginBottom-0 {
    margin-bottom: 0;
}
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color: #555;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.inner_ul a {
    text-decoration: none;
    color: #fff;
}
#sub-list {
    border-bottom: 2px dotted #e7ebeb;
    padding-bottom: 10px;
}
#sub-list li {
    background: #e60000;
}
#sub-list span i {
    color: #fff !important;
}
#sub-list button i {
    color: #fff !important;
}
header {
    background-color: #000 !important;
    border-bottom: #cb0505 3px solid !important;
}
.bg-menu {
    background-image: url(../images/logo_header.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}
.navbar {
    position: relative;
    min-height: 10px!important;
    margin-bottom: 0px !important;
    border: 1px solid transparent;
    border-radius: 0px;
    border: 0px;
    width: 100%;
    background-color: #000 !important;
}
.search-btn-color{    background-color: #e60000 ;}
.navbar-nav > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
    border-right: 1px solid #cb0505;
    font-size: 13px;
    text-transform: uppercase;
    padding: 8px 7px;
	    color: #FFF;
}
.nav > li > a:hover,
.nav > li > a:focus,
.nav > li > a:active {
    text-decoration: none;
    background-color: #ffffff;
    color: #e60000 !important;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    text-decoration: none;
    background-color: #ffffff;
    color: #e60000 !important;
    outline: 0px;
    border-color: transparent;
}
.dropdown-menu {
    padding: 0px;
    background-color: #FFF;
    border-radius: 0px;
    border: 0px;
    min-width: 200px;
    margin-top: -1px;
}
.dropdown-menu > li > a {
    display: block;
    padding: 5px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #54575a !important;
    white-space: nowrap;
    font-size: 13px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border: 0px;
    font-weight: 500;
    cursor: pointer;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:active {
    color: #e60000 !important;
    text-decoration: none;
    background-color: #f5f5f5;
}
.navbar-toggle {
    z-index: 999999999999999;
}
.navbar-collapse {
    -webkit-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.navbar-collapse.in {
    -webkit-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #e60000;
    margin-top: 5px;
    margin-right: -10px;
}
.icon_set a {
    color: #e60000 !important;
    margin-left: 0px;
    font-size: 13px;
}
.icon_set a:hover,
.icon_set a:focus {
    color: #cb0505 !important;
}
header h1 {
    font-family: vodafone;
    color: #fff;
    letter-spacing: 0.5px;
    margin-left: -24px !important;
    margin-top: 4px;
    font-size: 25px;
    vertical-align: middle;
    margin-bottom: 0px;
}
.nav .more .btn {
    padding-top: 0px;
    padding-bottom: 8px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
    border-right: 1px solid #cb0505;
    font-size: 13px;
    text-transform: uppercase;
    padding: 8px 7px;
    background: none;
    border: 0px;
    margin-top: 1px;
}
.nav .more .btn:hover,
.nav .more .btn:focus {
    border-radius: 0px !important;
    background: #FFF !important;
    color: #e60000 !important;
}
header .fa-stack {
    padding-top: 1px;
}
footer {
    padding: 5px 35px 5px 0px!important;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #54575a;
    /* border-color: #080808; */
    
    border-top: 2px #54575a solid;
    border-bottom: 2px #54575a solid;
    min-height: 30px;
    text-align: left;
    font-size: 10px;
}
footer p {
    padding: 0px;
    margin: 0px;
    font-size: 10px;
    color: #FFF;
    text-align: right;
}
.boxes {
    width: 100%;
    background-color: #FFF;
    padding: 5px;
    border-radius: 5px;
    border: #000 solid 1px;
    background-color: rgba(0, 0, 0, 0.85);
    -webkit-box-shadow: 0px 0px 10px 0px rgb(10, 10, 10);
    -moz-box-shadow: 0px 0px 10px 0px rgb(10, 10, 10);
    box-shadow: 0px 0px 10px 0px rgb(10, 10, 10);
}
.boxes h2 {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 5px 10px 5px 10px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 5px;
}
.panel-title a {
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    color: #FFF;
}
.panel-title a:hover,
.panel-title a:focus {
    text-decoration: none;
}
.panel-default {
    margin-bottom: 0;
    border-radius: 4px;
    background: #000;
    border: #333 1px solid;
    margin-bottom: 2px !important;
}
.panel-heading {
    border-bottom: 1px solid #333 !important;
    background-color: transparent !important;
    color: #000;
}
#search .btn {
    height: 34px;
    border: #e60000;
    outline: 0px;
}
#search .btn:hover {
    background-color: #cb0505 !important;
}
#search {
    padding: 10px;
}
.panel-group {
    width: 80%;
    margin: auto;
}
.panel-title span i {
    color: #e60000;
    font-size: 18px;
}
.inner_ul {
    list-style: none;
}
.inner_ul li {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    padding-top: 5px;
    text-align: center;
    padding-bottom: 5px;
}
.btn-mini {
    font-size: 14px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 0px;
    background-color: transparent;
    padding: 4px 5px;
}
.btn-mini:hover,
.btn-mini:focus {
    background-color: #cb0505;
    color: #FFF !important;
    outline: 0;
}
.inner_ul {
    padding-left: 0px !important;
}
.tabs {
    border-radius: 0px;
    padding: 5px;
    margin-top: 10px;
    border-bottom: 1px #eee solid;
    border-top: #eee solid 1px;
}
.gap {
    padding-right: 10px;
    padding-left: 10px;
}
.tabs > li > a {
    padding: 8px 10px 8px 10px;
    border-radius: 0px;
    margin-right: 0px;
    border: 1px #dddddd solid;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    border-bottom: 0px;
    border-top: 0px;
}
.fa-rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    background-color: transparent;
    border: 1px #eeeeee solid;
    border-bottom: 0px;
    color: #fff;
    border-left: #eeeeee solid 1px !important;
    font-weight: 700;
    border-top: 0px;
}
tbody {
    color: #FFF;
}
.tabs > li > a > span {
    background-color: #e60000;
    color: #fff;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    display: inline-block;
    padding: 1px 0px 0px 0px;
    margin-left: 5px;
    text-align: center;
}
.tabs > li > a:hover,
.tabs > li > a:focus {
    text-decoration: none;
    background-color: transparent;
    border: transparent 1px solid;
    /* border-right: #e60000 1px solid; */
    
    outline: 0px;
    color: #fff !important;
}
.table > thead > tr > th {
    vertical-align: middle;
    border-bottom: 0px solid #ddd;
    padding: 5px 5px 4px 5px;
    font-size: 12px;
    color: #54575a;
    font-weight: 500;
    letter-spacing: 0.5px;
    border-right: #FFF solid 1px;
}
thead {
    background-color: #ddd;
    margin-top: 10px;
}
table {
    margin-top: 5px;
}
.tabs .radio,
.checkbox {
    margin-top: 0px;
    margin-bottom: 0px;
}
.tabs> .radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    margin-left: -15px;
}
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 8px 0px 8px 5px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    font-size: 11px;
}
td > a {
    color: #fff !important;
}
.table > thead > tr > th > i {
    float: right;
    margin-top: 3px;
}
/**/

.btn-withdraw {
    color: #FFF;
    font-size: 13px;
    background-color: #2e897d;
    outline: 0px;
    margin-bottom: 10px;
}
.btn-withdraw:focus,
.btn-withdraw:hover {
    background-color: #1f635b;
    color: #FFF;
    outline: 0px;
}
.btn-payee {
    color: #FFF;
    font-size: 13px;
    background-color: #ff6c00;
    outline: 0px;
    margin-bottom: 10px;
}
.btn-payee:focus,
.btn-payee:hover {
    color: #FFF;
    font-size: 13px;
    background-color: #b9560e;
    outline: 0px;
}
.btn-approval {
    color: #FFF;
    font-size: 13px;
    background-color: #5cb85c;
    outline: 0px;
    margin-bottom: 10px;
}
.btn-approval:focus,
.btn-approval:hover {
    color: #FFF;
    font-size: 13px;
    background-color: #4f804f;
    outline: 0px;
}
.btn-rejected {
    color: #FFF;
    font-size: 13px;
    background-color: #c10000;
    outline: 0px;
    margin-bottom: 10px;
}
.btn-rejected:focus,
.btn-rejected:hover {
    color: #FFF;
    font-size: 13px;
    background-color: #900202;
    outline: 0px;
}
.buttons {
    text-align: right;
    margin-bottom: 20px;
    border-bottom: 2px dotted #e7ebeb;
    padding-bottom: 20px;
}
.comments label {
    font-size: 13px;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-left: 3px;
}
.form-control:focus,
.form-control:hover {
    border-color: #e60000;
    outline: 0;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
}
/*Media query*/

@media only screen and (max-width: 1250px) {
    .navbar-nav > li > a {
        padding: 8px 5px;
    }
    header h1 {
        margin-left: -20px !important;
        font-size: 20px;
    }
}
@media only screen and (min-width: 900px) and (max-width: 1100px) {
    header h1 {
        margin-top: 6px;
    }
}
@media only screen and (max-width: 1100px) {
    header h1 {
        font-size: 17px;
        margin-left: 10px !important;
        line-height: 15px;
    }
    .navbar {
        min-width: 400px;
        width: 100%;
    }
    .navbar-nav > li > a {
        font-size: 10px;
    }
    .nav .more .btn {
        font-size: 10px;
        margin-top: 3px;
    }
}
@media only screen and (max-width: 800px) {
    .theme_btn {
        top: 100px;
    }
    .boxes {
        margin-bottom: 20px;
    }
    .tabs > li > a {
        border: #858689 solid 1px;
        margin: 5px;
        color: #fff !important;
    }
    .border-left {
        border-left: #858689 solid 1px !important;
    }
    .tabs > li > a:focus {
        border-left: 0px !important;
    }
    /* Force table to not be like tables anymore */
    
    #table-responsive table,
    #table-responsive thead,
    #table-responsive tbody,
    #table-responsive th,
    #table-responsive td,
    #table-responsive tr {
        display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    
    #table-responsive thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    #table-responsive tr {
        border: 1px solid #d7d7d7;
        border-radius: 5px;
        margin-bottom: 7px;
        background: #EEE;
    }
    #table-responsive td {
        /* Behave  like a "row" */
        
        background: #333;
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;
        padding-top: 3px;
        padding-bottom: 3px;
    }
    #table-responsive td:before {
        /* Now like a table header */
        
        position: absolute;
        /* Top/left values mimic padding */
        
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }
    /*
	Label the data
	*/
    
    #table-responsive td:before {
        content: attr(data-title);
    }
}
@media only screen and (max-width: 480px) {
    .nav .more .btn {
        font-size: 12px;
        margin-top: auto;
        width: 100%;
        text-align: left;
    }
    .navbar-nav > li > a {
        font-size: 12px;
    }
    header .fa-stack {
        padding-top: 10px;
        font-size: 15px;
    }
    .buttons .btn {
        width: 100%;
    }
}
@media only screen and (max-width: 767px) {
	.header-heading{color:#FFF !important;}
    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 20px;
        color: #54575a !important;
        border-bottom: 1px solid #000000;
        /* padding: 0px 20px; */
        
        background: #FFF !important;
        width: 90%;
        margin: auto;
        border-top: #000000 solid 3px;
        border-radius: 5px;
    }
    .navbar-nav .open .dropdown-menu > li > a:focus,
    {
        color: #FFF !important;
    }
    .nav-tabs > li {
        display: block;
        width: 100%;
    }
    .no_padding {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .no_margin {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    .navbar-fixed-top {
        position: inherit;
    }
    body {
        padding-top: 0px;
    }
    .logo_phn {
        height: 30px;
    }
    .navbar {
        min-width: 100%;
        width: 100%;
    }
    .navbar-toggle {
        position: relative;
        float: right;
        padding: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }
    .bg-menu {
        background-image: none;
    }
    .navbar-toggle .fa-stack,
    a {
        color: #cb0505 !important;
    }
    header .fa-stack {
        padding-top: 5px;
    }
    .navbar-brand {
        font-size: 17px;
        margin-left: 0px !important;
        line-height: 15px;
        font-family: 'Raleway', sans-serif;
        color: #e50000;
        letter-spacing: 0.5px;
        vertical-align: middle;
        margin-bottom: 0px;
    }
}
@media only screen and (max-width: 460px) {
    .navbar-brand {
        max-width: 300px;
        letter-spacing: 1px;
        font-weight: 600;
        margin-top: 0;
        font-size: 14px;
        line-height: 1;
        padding-top: 17px;
        font-family: 'Raleway', sans-serif;
    }
    header .fa-stack {
        padding-top: 10px;
        font-size: 15px;
    }
}
@media only screen and (max-width: 414px) {
    .navbar-brand {
        max-width: 250px;
        letter-spacing: 1px;
        font-weight: 600;
        margin-top: -7px;
        font-size: 14px;
        line-height: 1;
        padding-top: 17px;
    }
    header .fa-stack {
        padding-top: 10px;
        font-size: 15px;
    }
    .inner_ul li {
        font-size: 11px;
    }
}
@media only screen and (max-width: 376px) {
    .navbar-brand {
        max-width: 200px;
        letter-spacing: 1px;
        font-weight: 600;
        margin-top: -10px;
        font-size: 14px;
        line-height: 15px;
    }
    header .fa-stack {
        padding-top: 5px;
        font-size: 15px;
    }
}