
<h4 class="text-danger text-capitalize" style="color:#e60000;">@ViewBag.SectionName</h4>
<a href="#" onclick="window.close();">Back to Survey</a>
<div id="dialog" style="width:100%" align="center">
    @Html.Partial("_LFSCaptureTableResponse", (RELY_APP.ViewModel.CaptureUserResponseViewModel)ViewBag.CaptureUserResponse)
</div>


