@{
    ViewBag.Title = "Reset Preference User";
}

<script>
    $(document).ready(function () {
        $.ajax({
            url: "/Home/GetRolesList",
            dataType: "json",
            type: "POST",
            success: function (data) {
                $("#RoleDropDown1").jqxDropDownList({ source: data, width: 200 })
                $.ajax({
                    url: "/Account/GetSelectedLandingPage",
                    dataType: "json",
                    type: "POST",
                    success: function (data) {

                        $("#RoleDropDown1").jqxDropDownList('selectItem', data)
                    },
                    error: function (reponse) {
                        //  alert("error : " + reponse);
                    }
                });
            },
            error: function (reponse) {
            }
        });
    });

    function SaveForm() {

        var selectedRole = $("#RoleDropDown1").val();
        $.ajax({
            url: "/Account/UpdatSelectedLandingPage",
            dataType: "json",
            type: "POST",
            data: { SelectedRole: selectedRole},
            success: function (data) {
                $("#RoleDropDown1").jqxDropDownList('selectItem', data)
            },
            error: function (reponse) {
            }
        });
        window.location.href = '/Account/UserSettings?Email=@ViewBag.Email';
    }

</script>
<h4 style="color:red;">User Settings -> Set default role</h4>



Select Role: <div id="RoleDropDown1" style="background-color:white;color:#e60000; vertical-align:middle; display:inline-block;"></div> &nbsp; &nbsp;&nbsp;
<button class="btn btn-red btn-cons" type="button" onclick="SaveForm();" id="SaveButton">Save&nbsp;</button>
<br />

