<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="data source=DEVSERVER01\SQLEXPRESS;initial catalog=RELYDevDb;persist security info=True;user id=sa;password=Vfone!23;multipleactiveresultsets=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--<add key ="Mode" value ="Daily"/>-->
    <add key="Mode" value="Interval"/>
    <add key="IntervalMinutes" value="1"/>
    <add key="ScheduledTime" value="18:41"/>
    <add key="LogFilePath" value="D:\\Webs\\RELY\\mail\\logs\\ServiceLog.txt"/>
  </appSettings>
</configuration>
