
<div>
    <p> Choose Question :</p>
    @Html.DropDownList("AnswersDropDown", new List<SelectListItem> { new SelectListItem { Text = "-- Select Here --", Value = null }, new SelectListItem { Text = "Requests", Value = "LRequests" }, new SelectListItem { Text = "Products", Value = "LProducts" }, new SelectListItem { Text = "ProductPobs", Value = "LProductPobs" }, new SelectListItem { Text = "ReferenceData", Value = "LReferenceData" }, new SelectListItem { Text = "LocalPOB", Value = "LLocalPobs" }, new SelectListItem { Text = "AccountingScenario", Value = "LAccountingScenarios" } }, new { @class = "form-control", @style = "text-align: left;" })
</div>
