

<script>
    function fnLoadCopaPopup(CopaClass) {
        //source for Copa available
        var sourceCopa = {
            dataType: "json",
            cache: false,
            dataFields: [
                { name: 'Id', type: 'string' },
                { name: 'Dimension', type: 'string' },
                { name: 'Class', type: 'string' },
                { name: 'CopaValue', type: 'string' },
                { name: 'Description', type: 'string' },
                { name: 'DimentionClassDescription', type: 'string' },
            ],
            id: "Id",
            data: { Class: CopaClass, PobCatalogueId: CatalogueId },
            url: "/GCopaDimensions/GetGCopaDimensions"
        };
        
        var dataAdapterCopa = new $.jqx.dataAdapter(sourceCopa, { autoBind: true, async: false })
        $("#jqxGridCopaPopup").jqxGrid({
            source: dataAdapterCopa,
            width: '100%',
            height: '350px',
            theme: 'bootstrap',
            filterable: true,
            columnsresize: true,
            columnsreorder: true,
            showstatusbar: false,
            ready: function () { },
            columns: [
                { text: 'Dimension', datafield: 'Dimension' },
               // { text: 'Class', datafield: 'Class' },
                { text: 'Value', datafield: 'CopaValue' },
                { text: 'Description', datafield: 'Description' },
                { text: 'Dimention Description', datafield: 'DimentionClassDescription' },
                
            ]
        });
        //$('#CopaModal').modal();
        $('#CopaModal').modal({ backdrop: 'static', keyboard: false }, 'show'); 
    }

    function FnChooseCopa() {
        var item = $('#jqxGridCopaPopup').jqxGrid('getselectedrowindex');
        var data = $('#jqxGridCopaPopup').jqxGrid('getrowdata', item);
        if (data == null) {
            alert("Please choose Copa Dimension.");
            return;
        }
        //attach this Copa to LocalPob, make entry in mapping table
        var CopaId = data.Id;
        var CopaStDate = null;
        if ($("#CopaMappingStartDate").length > 0) {
            CopaStDate = $('#CopaMappingStartDate').jqxDateTimeInput('getText');
        }
        if (CopaStDate == null || CopaStDate == '') {
            alert("Start Date is mandatory");
            return;
        }
        $.ajax({
            type: "GET",
            data: "PobCatalogueId=" + CatalogueId + "&CopaMappingStartDate=" + CopaStDate + "&CopaId=" + CopaId + "&CopaClass=" + CopaClass,
            cache: false,
            url: "/LLocalPOB/AttachCopa",
            success: function (data) {
                
                var LatestCopaMappedStartDate = data.LatestCopaMappedStartDate;
                if (data.ErrorMessage) {
                    alert(data.ErrorMessage);
                } else {
                    if (LatestCopaMappedStartDate == null || LatestCopaMappedStartDate == '' || LatestCopaMappedStartDate == 'undefined') {
                        $('#CopaMappingStartDate').jqxDateTimeInput(value, new Date(2010, 0, 1));
                    } else {
                        
                        //$('#CopaMappingStartDate').jqxDateTimeInput('setDate', new Date(javaScriptDate.getFullYear(), javaScriptDate.getMonth(), javaScriptDate.getDate() + 1));
                        //setting min date for copa to latestdate mapped + 1;
                        var javaScriptDate = new Date(parseInt(LatestCopaMappedStartDate.substr(6)));
                        $('#CopaMappingStartDate').jqxDateTimeInput({ value: new Date(javaScriptDate.getFullYear(), javaScriptDate.getMonth(), javaScriptDate.getDate() + 1) });
                        $('#CopaMappingStartDate').jqxDateTimeInput({ min: new Date(javaScriptDate.getFullYear(), javaScriptDate.getMonth(), javaScriptDate.getDate() + 1) });
                    }
                    alert("COPA mapped successfully.");
                    $('#jqxGridCopaPopup').jqxGrid('clearselection');
                    fnGetCopaDetails(CopaClass);
                }
            },
            error: function (reponse) {
                console.log(reponse);
            }
        });
    }

    function fnGetCopaDetails(CopaClass) {

        var CopaData = {
            dataType: "json",
            cache: false,
            dataFields: [{ name: 'Id', type: 'int' },
                { name: 'Dimension', type: 'int' },
                { name: 'Class', type: 'string' },
                { name: 'CopaValue', type: 'string' },
                { name: 'Description', type: 'string' },
                { name: 'DimentionClassDescription', type: 'string' },
                { name: 'PobCatalogueId', type: 'int' },
                { name: 'EffectiveStartDate', type: 'date' },
                { name: 'EffectiveEndDate', type: 'date' },
            ],
            data: { PobCatalogueId: CatalogueId, CopaClass: CopaClass},
            url: "/LLocalPOB/GetCopaDataForGrid"
        };
        var dataAdapterCopaData = new $.jqx.dataAdapter(CopaData);
        var cellsrenderer = function (row, columnfield, value, defaulthtml, columnproperties) {
           return '&emsp;<button type="button" id="DeleteCopa" name="DeleteCopa" onclick="FnDeleteCopa(); " class="GridButton">Delete</button>';
        };
         var ColumnsList=  [{ text: 'Dimension', datafield: 'Dimension' },
                { text: 'Class', datafield: 'Class' },
                { text: 'Value', datafield: 'CopaValue' },
                { text: 'Description', datafield: 'Description' },
                { text: 'Start Date', datafield: 'EffectiveStartDate', cellsformat: 'dd/MM/yyyy' },
                { text: 'End Date', datafield: 'EffectiveEndDate', cellsformat: 'dd/MM/yyyy' }]
        if (ShowDeleteMappingLink) {
            ColumnsList.push({ text: 'Actions', datafield: 'Id', cellsrenderer: cellsrenderer, width: '10%' })
        } 
        //Check whether the grid is already defined or not and ready for use.
        var ready = $("#jqxgridCopaMapping").jqxGrid('ready');
        //if grid is alreday defined and ready for use, just update the grid. Otherwise, define the grid.
        if (typeof ready != 'undefined') {
            $("#jqxgridCopaMapping").jqxGrid('updatebounddata');
        }
        else {
            $("#jqxgridCopaMapping").jqxGrid({
                source: dataAdapterCopaData,
                width: '100%',
                autoheight: true,
                theme: 'bootstrap',
                pageable: true,
                pagesize: 50,
                columnsresize: true,
                columnsreorder: true,
                showstatusbar: false,
                ready: function () { },
                columns:ColumnsList
            });
        }
    }
    
</script>


<!-- This code displays a popup to get Selected LProducts-->
<div class="modal fade" id="CopaModal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Choose from existing COPA</h3>
            </div>
            <div class="modal-body">
                <label class="required col-md-2 col-lg-2 rely-labels" style="text-align:left; ">Start Date</label>
                <div id="CopaMappingStartDate"></div>
                <br/>
                <div id="jqxGridCopaPopup"></div>
                <br />

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-red pull-left" onclick="FnChooseCopa();" data-dismiss="modal">Choose</button>&ensp;
                <button type="button" class="btn btn-red pull-left" data-dismiss="modal" >Cancel</button>
            </div>
        </div>

    </div>
</div>

