
@{
    ViewBag.Title = "FunctionalityComingSoon";
}

<div class="container">
<h3>Under Construction</h3>
   
<img src="/Content/Images/UnderConstruction.png" width="500" height="500" class="img-responsive" />
    </div>

