<div class="row">
    <div class="col-md-8 col-lg-8">
        <h3>Welcome Controller</h3>
    </div>

</div>

<script>
    $(document).ready(function () {
        //save return url
        $.ajax({
            data: { path: window.location.pathname },
            url: "/Home/SaveReturnPath",
            dataType: "json",
            cache: false,
            type: "POST",
            success: function (data) {
            },
            error: function (reponse) {
                //  alert("error : " + reponse);
            }
        });
    })
</script>